
@import url('https://fonts.googleapis.com/css2?family=Jaini&family=League+Spartan:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaini&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.jaini{
  font-family: "Jaini", system-ui;
}

.texto-sombra {
  color: #FFFFFF; /* Cor principal do texto */
  text-shadow: 0px 8px 0 #a3a3a3;  /* Cor do texto, ajuste conforme necessário */
}

.container-fluid{
  max-height: 100vh;
  background: #FFFFFF;
}
.container-fluid {
  min-height: 100vh;
  background: #ffffff;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: #2b2b2b; /* Cor da sobreposição com opacidade */
  z-index: 2; /* Coloca a sobreposição acima do container-fluid */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header {
  background-color: #2b2b2b;
  height: 20%;
  z-index: 2;
  position: relative;
}

.imgHamburguer {
  cursor: pointer;
  width: 45px;
  height: 47px;
  justify-content: end;
  position: absolute;
  right: 4px;
  top: -30px;
  z-index: 99;

}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px; /* Inicialmente o menu está oculto à direita */
  width: 250px;
  height: 100%;
  background: linear-gradient(180deg, #b9ac3c 0%, #e4e1c7 100%);

  transition: right 0.3s ease; /* Transição suave para abrir/fechar */
  z-index: 98;
}

.sidebar.open {
  right: 0; /* Quando o menu for aberto, ele aparece à direita */
}

.sidebar ul {
  display: flex;
  flex-direction: column;

  list-style-type: none;
  padding-top: 100px;

  gap: 15px;
}

.sidebar ul li {
  color: #2b2b2b;
  cursor: pointer;

  padding-left: 20px;

  font-size: larger;
}

.sidebar img.arrowLeft {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;

  height: 30px;
  width: 30px;

  opacity: 50%;
}

.sidebar img.fantasminha2 {
  position: relative;

  bottom: -30px;
  width: 250px;
  height: 250px;

  opacity: 50%;
}

.mat-icon {
  color: #ffffff;
}

.texto {
  z-index: 3; /* Coloca o texto acima do menu e da sobreposição */
  position: relative; /* Necessário para garantir que o z-index funcione */
  margin-top: 10%; /* Ajuste para que o texto não fique colado no topo */
  text-align: center;
}


.texto h2 {
  color: #FFFFFF; /* Cor do texto */
}
.texto h3 {
  color: #ffffff; /* Cor do texto */

  font-size: 2rem; /* Ajuste do tamanho do texto */
}

span{
  color: #FFFFFF;
  font-size: 44px;
  font-family: "League Spartan", sans-serif;
}
.fantasma-container {
  display: inline-flex;
  align-items: center;
  border-radius: 100%;
  z-index: 5;
}

.fantasma {
  width: 50px; /* Tamanho da imagem, ajuste conforme necessário */
  margin-left: 30px; /* Adiciona um espaço entre a imagem e o texto */
}

.texto-container {
  display: inline-block; /* Permite que o texto se alinhe ao lado da imagem */
  text-transform: uppercase;
}

h2{
  color: #FFFFFF;
  margin-right: 10px;
}

.button-group{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn {
  flex: 0 0 calc(50% - 10px); /* Cada botão ocupará 50% da largura, com um espaço de 10px entre eles */
  box-sizing: border-box; /* Garante que o espaçamento seja levado em conta no cálculo da largura */
  text-transform: uppercase;
}

.btnOption{
  padding: 20px;
  border: 2px solid #2b2b2b;
  margin: 0 auto;
  border-radius: 15px;
  font-size: 26px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  font-weight: 500;
  margin-top: 10px;
  margin-left: 5px;
  width: 180px;
}



.conquistas{
  color: #000000;
  font-size: 28px;
  margin-left: 10px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 5px;
}


.container {
  display: flex; /* Organiza as imagens em linha */
  overflow: hidden; /* Oculta as imagens que estão fora da área visível */
}

.container img {
  width: 100%; /* Garante que as imagens ocupem o mesmo espaço */
  flex: 0 0 25%; /* Faz cada imagem ocupar 25% da largura do contêiner (4 imagens por linha) */
  transition: transform 0.5s ease; /* Transição suave para o efeito de deslizar */
}

.group-image{
  display: flex;
  overflow-x: auto;
  width: 100%;
  scroll-snap-type: x mandatory;
  padding: 3px;
  z-index: 0;
}

.imgContent {
  border-radius: 15px;
  margin-left: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  flex-grow: 1;
  flex-shrink: 0;
  scroll-snap-align: center;
  margin-right: 8px;
  width: 100px;
  height: 100px;
}

::-webkit-scrollbar { overflow-y:hidden; }
/* Conteúdo principal da página */
.content {
  flex: 1; /* Ocupa o espaço restante */
  padding: 80px; /* Adicione padding conforme necessário */
  bottom: -20;
  top: 20px;
}

/* Rodapé */
.rodape {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%; /* Ocupa toda a largura da página */
  position: absolute; /* Fixa o rodapé na parte inferior da página */
  bottom: 0; /* Posiciona no fundo da página */
  left: 0;
  height: 180px; /* Define uma altura maior para o rodapé */
  top: 700px;
  z-index: 0;
}

.btnPulseira{
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #AFA42E;
  padding-left: 4px;
  padding-right: 4px;
  width: 264px;
}
