<div class="container-fluid">
  <div class="overlay"></div>
  <div class="header">
    <img src="../../../assets/List.svg" alt="" class="img-fluid imgHamburguer float-end" (click)="toggleMenu()">

  <div class="texto">
    <h3>seja bem-vindo</h3>
  </div>
  <!-- Conteúdo do container-fluid -->
   <!-- Menu Lateral -->
  <div class="sidebar" [ngClass]="{'open': isMenuOpen}">
    <!-- Adicione conteúdo do menu aqui -->
    <img class="arrowLeft" src="/assets/arrowLeft.svg" alt="">
    <ul class="list-unstyled">
      <li>Home</li>
      <li>Perfil</li>
      <li>Ranking</li>
      <li>Loja</li>
      <li>Planos</li>
      <li>Apostas</li>
      <li>Caça-Fantasma</li>
      <li>PULSEIRAS</li>
    </ul>
    <img class="fantasminha2" src="/assets/fantasminha2.svg" alt="">
  </div>

</div>


</div>
