.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    width: 80px;
    height: 80px;
  }
  
  .info-box {
    max-width: 300px;
  }
  
  .score-box {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .promo-slide {
    width: 100%;
    max-width: 300px;
  }
  