<div class="container-fluid">
  <div class="body-content">
    <div class="login-title">
      FÃ-TASMA
    </div>
    <div class="login-subtitle">
      Acompanhe jogos, ganhe pontos, aposte no seu time e muito mais...
    </div>
    <div class="login-form">
      <input id="cpf" type="text" class="form-control mb-2" placeholder="CPF">
      <input id="cpf" type="text" class="form-control" placeholder="Senha">
      <small class="d-flex justify-content-end"><a href="">Recuperar Senha</a></small>
      <a class="btn d-flex" href="/home">Entrar</a>
      <small class="text-center">Não tem conta? <a routerLink="/register" class="fw-bold">Criar conta</a></small>

    </div>
    <div class="d-flex">
      <mat-icon class="mat-18 help-icon">help</mat-icon>
      <img src="../../../assets/fantasminha2.svg" alt="" class="fantasma-img">
    </div>
  </div>
</div>

